#headimg {
  margin: auto;
    padding-left: 8%;   
}

input {
    margin-bottom: 15px;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

#accontainer {
 background-color: aliceblue;   
}
h1 {
   position:relative;
    text-align: center;
    margin-top: 25%;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px;
    border-top: solid 1px;
    
}
/* CSS for topnavbar and dropdowns*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
    position: fixed;
 
}

li {
    float: left;
    max-height: 100%;
    
}
.topnavbar {
    overflow: hidden;
    background-color: darkgray;
    font-family: Arial;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.topnavbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.topnavbar a:hover, .dropdown:hover .dropbtn {
    background-color:red;
    transition-duration: 0.2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
   vertical-align: baseline;
    align-content: center;
}

fieldset {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: solid 1px red;
    }

label {
  display: inline-block;
  color: gray;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-bottom: 30px;
  
}

#semselect {
    
}

.register {
 margin: auto;
    width: 100%;
    padding: 10px;
}

footer {
   position:fixed;
   opacity: 0.8;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   font-family: 'Roboto', sans-serif;
}
    

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.classes {
    background-color: lightcoral;
    color: black;
    margin: auto;
    text-align: center;
    width: 80%;
    
}

th {
    border-right: 2px solid gray;
    width: 2%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    
}
form {

    display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}
    }
button {
	display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
	}
	