



input[type=text] {
    width: 200px;
    padding: 12px 20px;
	margin-left: auto;
	margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}
input[type=password]{
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}


button {
    background-color: red;
    color: white;
    padding: 14px 20px;
	margin-left: auto;
	margin-right: auto;
    border: none;
    cursor: pointer;
    width: 200px;
	font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;

}

[type="submit"]{
	margin-left: center;
	margin-right: auto;
	width: inherit;
	margin-top: 4%;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
	font-family: 'Oswald', sans-serif;
	border-radius: 6px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
	font-family: 'Oswald', sans-serif;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
	   font-family: 'Oswald', sans-serif;
    }
    .cancelbtn {
       width: 100%;
    }
}
.remember {
    margin-top: 3%;
}
form {
    display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}
    }
button {
	display: inline-block;
    text-align: center;
	font-family: 'Oswald', sans-serif;
}

	