#headimg {
  margin: auto;
    padding-left: 8%;
    width: 100%;
}

.toptext {
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#acdiv1 {
    margin-top: 5%;
padding: 50px;
    width: 15%;
    height: 200px;
    background-color: gray;
}

#acdiv2 {
    float: left;
 margin-top: 5%;
padding: 50px;
    width: 15%;
    height: 200px;
    background-color: gray;   
}


input {
    margin-bottom: 15px;
}

button {
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
    width: 50%;
    color: white;
    text-decoration: none;

}

#contentfill {
    text-align: center;
    align-content: center;
    margin-top: 10%;
     width: 100%;
}

.register {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 60%;   
}

.semselect {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 40%;
}

.regtext {
   position:relative;
    text-align: center;
    margin-top: 25%;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 1px;
    border-top: solid 1px;
    
}

/* CSS for topnavbar and dropdowns on desktop*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  
    position: fixed;
 
}

button {
   vertical-align: baseline;
    align-content: center;
}

fieldset {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: solid 1px red;
    }

label {
  display: inline-block;
  color: gray;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-bottom: 30px;
  
}


.register {
 margin: auto;
    width: 100%;
    padding: 10px;
}

footer {
    text-align: center;
   position:fixed;
   opacity: 0.8;
   
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   font-family: 'Roboto', sans-serif;
}
    

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    padding: 16px;
}

.classes {
    background-color: white;
    border-bottom: 1px solid black;
    color: black;
    margin: auto;
    text-align: center;
    width: 80%;
    padding-top: 5px;
    
}

.classes th {
    border-right: 2px solid gray;
    width: 2%;
    padding: 5px;
    margin-bottom: 5%;
    background-color: darkgray;
    color: white;
}
.classes td {
    padding-top: 10px;
   border-bottom: black;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.classes tr {
    
}

/*Navigation*/

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: red;
}    

#menuToggle
{
  color: red;  
  display: block;
  position: relative;
  margin: 5px;
  padding: 5px;
  top: 2%;
  left: 30px;

  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
}

#menuToggle span
{
  background-color: black;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -120px 0 0 -50px;
  padding: 50px;
    padding-bottom: 100%;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

    #menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media screen and (max-width: 300px) {
    #headerimg {
        zoom: 1.5;
    }
    #menuToggle {
       left: 5px; 
    }
    
    #contentimagedesk {
       background-image:url(/pictures/welcomefillermobile.jpg);
    }
     #contentimagem {
       background-image:url(/pictures/welcomefillermobile.jpg);
    }
    body {
        font-size-adjust: 2em;
    }
    .classes {
        font-size: 11px;
    }
    .classlist {
        font-size: 11px;
    }
    #semselect {
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    #contentfill {
        
    }  
    
}

	