#headimg {
  margin: auto;
    padding-left: 8%;
    
}

input {
    margin-bottom: 15px;
}

div {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

button {
   vertical-align: baseline;
    align-content: center;
}

fieldset {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: whitesmoke;
    border-radius: 3px;
    border: solid 1px red;
    }

label {
  display: inline-block;
  color: gray;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-bottom: 30px;
  
}